

:root{
  --accent: tomato;
  --backgroundColor: #fff1e0;
  /* --backgroundColor: antiquewhite; */
  --backgroundColor: lightgoldenrodyellow;
  /* --backgroundColor: rgba(215, 250, 224, 0.521); */
  --highlight: #eee;
  /* --asdf: rgb(129, 112, 109); */
}


